*
{
  padding: 0;
  margin: 0;
}

body
{
  font-family: Consolas, Inconsolata, Verdana;
  background-color: #babbb9;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  user-select: none;

}

button
{
  appearance: none;
  -webkit-appearance: none;
  padding: 0;
  margin: 0;
  min-width: 100px;

  border-radius: 0.25em;
  border: 1px gray solid;

  background: rgb(242,249,254); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(242,249,254,1) 0%, rgba(214,240,253,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(242,249,254,1)), color-stop(100%,rgba(214,240,253,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%); /* W3C */
}

button:hover
{
  color:#2b81af;
}

button:active
{
  box-shadow: inset 1px 1px 1px 1px gray;
}

.activeButton
{
  font-weight: bold;
  text-decoration: underline;
}

#lowerAreaButtons
{
  position: inherit;
  bottom: 0;
  left: 0;
  border-top: solid 1px black;
  width: 100%;
}

#watcher
{
  position: absolute;
  right: 0;
  top: 0;
  width: 20%;
  height: 100%;
  border-left: gray 1px solid;
  -moz-box-shadow: -2px 0px 10px rgb(20, 19, 19);
  -webkit-box-shadow: -2px 0px 10px rgb(20, 19, 19);
  box-shadow: -2px 0px 5px rgb(20, 19, 19);

  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(201,201,201,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(201,201,201,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(201,201,201,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(201,201,201,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(201,201,201,1) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(201,201,201,1) 100%); /* W3C */
}

#lowerArea
{
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: 0px -2px 3px 0px;

  background-image: linear-gradient(bottom, rgb(255,255,255) 0%, rgb(163,163,163) 100%, rgb(255,255,255) 0%);
  background-image: -o-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(163,163,163) 100%, rgb(255,255,255) 0%);
  background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(163,163,163) 100%, rgb(255,255,255) 0%);
  background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(163,163,163) 100%, rgb(255,255,255) 0%);
  background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(163,163,163) 100%, rgb(255,255,255) 0%);
}

#tips
{
  width: 100%;
  position: inherit;
  left: 0;
  height: 100px;
  overflow-y: auto;


  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  user-select: text;
}

#consoleInput
{
  position: absolute; left:0;
  margin-left: 2px;
  background-color: #fafad2;
  z-index: 5;
  font-size: large;
  border: 1px solid #2e8b57;
}

#log
{
  width: 100%;
  position: inherit;
  left: 0;
  height: 100px;
  overflow-y: auto;

  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  user-select: text;
}

#console
{
  width: 100%;
  position: inherit;
  left: 0;
  height: 100px;
  overflow-y: auto;

  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  user-select: text;
}

#options
{
  width: 100%;
  position: inherit;
  left: 0;
  height: 100px;
  overflow-y: auto;
}

#editorArea
{
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#openDocuments
{
  position: inherit;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  border-bottom: 1px black solid;
}

.document
{
  margin-right: 2px;
}

.documentCloseButton
{
  color: red;
  cursor: pointer;

}

.documentCloseButton:hover
{
  color: white;
}

.documentName
{
  -webkit-border-top-left-radius: 0.5em;
  border-top-left-radius: 0.5em;
  -webkit-border-top-right-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-top: 1px solid black;
  cursor: pointer;

  font-size: 0.9em;

  color: #e9e2e9;
  display: inline-block;

  background: rgb(178,178,178); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(178,178,178,1) 0%, rgba(56,56,56,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(178,178,178,1)), color-stop(100%,rgba(56,56,56,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(178,178,178,1) 0%,rgba(56,56,56,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(178,178,178,1) 0%,rgba(56,56,56,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(178,178,178,1) 0%,rgba(56,56,56,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(178,178,178,1) 0%,rgba(56,56,56,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2b2b2', endColorstr='#383838',GradientType=0 ); /* IE6-9 */
}

.documentName:hover
{
  color: black;

  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 1%, rgba(211,211,211,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(255,255,255,1)), color-stop(100%,rgba(211,211,211,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 1%,rgba(211,211,211,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,1) 1%,rgba(211,211,211,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 1%,rgba(211,211,211,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 1%,rgba(211,211,211,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d3d3d3',GradientType=0 ); /* IE6-9 */
}

.documentSelected
{
  color: black;
  font-weight: bold;

  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 1%, rgba(211,211,211,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(255,255,255,1)), color-stop(100%,rgba(211,211,211,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 1%,rgba(211,211,211,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,1) 1%,rgba(211,211,211,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 1%,rgba(211,211,211,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 1%,rgba(211,211,211,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d3d3d3',GradientType=0 ); /* IE6-9 */

}

#sectionWindow
{
  position: absolute;
  top: 40%;
  left: 70%;
  height: 240px;
  z-index: 5;
  font-size: 0.7em;
  box-shadow: 1px 1px 5px 1px;
  border-radius: 0.5em;
  background: rgb(212,228,239); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(212,228,239,1)), color-stop(100%,rgba(134,174,204,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc',GradientType=1 ); /* IE6-9 */
}

.section
{
 list-style: none;
  cursor: pointer;
}

.section:hover
{
  background-color: gray;
  color: white;
}

#stackWindow
{
  position: absolute;
  top: 20%;
  left: 70%;
  z-index: 5;
  font-size: 0.7em;
  box-shadow: 1px 1px 5px 1px;
  border-radius: 0.5em;
  cursor: move;

  background: rgb(212,228,239); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(212,228,239,1)), color-stop(100%,rgba(134,174,204,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc',GradientType=1 ); /* IE6-9 */
}

.stack
{
  list-style: none;
}

.stack:hover
{
  background-color: gray;
  color:white;
  cursor: pointer;
}

#breakpointsWindow
{
  position: absolute;
  z-index: 5;
  font-size: 0.7em;
  box-shadow: 1px 1px 5px 1px;
  border-radius: 0.5em;
  top: 10%;
  left: 70%;

  background: rgb(212,228,239); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(212,228,239,1)), color-stop(100%,rgba(134,174,204,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc',GradientType=1 ); /* IE6-9 */
}

#breakpoints
{
  width: 100%;
}

.breakpointRemove
{
  display: inline-block;
  width: 9px;
  height: 9px;
  background: url(../img/X.png);
  cursor: pointer;
}

.breakpointRemove:hover
{
  background-color: gray;
}

.breakpointLineNumber
{
  cursor: pointer;
}

.breakpointLineNumber:hover
{
  color:white;
  background-color: gray;
}

/** Breakpoint styling */
.editorBreakpoint
{
  box-shadow: inset 1em 0px 1em 0px #d2691e;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
}

.editorCurrentLine
{
  background-image: url(../img/arrow.png);
  -moz-background-size: 30% 100%;
  -o-background-size: 30% 100%;
  -webkit-background-size: 30% 100%;
  background-size: 30% 100%;
  background-position: right;
  z-index: 5; /** Stay above breakpoint*/
}

#connectionStatus
{
  text-align: center;
  background: -moz-linear-gradient(top, #ffffff 3%,#f9f993 100%) ;
  background: -webkit-linear-gradient(top, #ffffff 3%,#f9f993 100%);
  margin-bottom: 3px;
  border-bottom:1px solid gray;
}

input {
  border: 1px solid gray; 
  box-shadow: 
    inset 0 0 1em  rgba(0,0,0,0.1),
    0 0 2em rgba(0,0,0,0.1); 
  background: rgba(255,255,255,0.5);
}

#refreshButton
{
  display: inline;
  background-image: url(../img/refresh.png);
  padding-right: 18px;
  background-size: 100%;
  border-radius: 100%;
}

#refreshButton:hover
{
  border: 1px solid #3baae3;
}

#refreshButton:active
{
  background-color: #fdf5e6;
  color:
}

#hoverVariable
{
  position: absolute;
  left: 50%;
  top: 70%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px black solid;
  color: black;
  box-shadow: black 1px 1px 5px;
  z-index: 10; /** stay above all*/


  background: rgb(212,228,239); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(212,228,239,1)), color-stop(100%,rgba(134,174,204,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc',GradientType=1 ); /* IE6-9 */
}

/** Cool looking scrollbar. At least i think so */
::-webkit-scrollbar
 {
   background-color: rgba(220,220,220,1);
   width: 8px;
  height: 8px;
 }

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb
{
  background: #2d429a;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:hover
{
  background: blue;
}

::-webkit-scrollbar-thumb:window-inactive
{
  background: rgba(200,200,200,0.4);
}